:root {
  /* ### Primary */

  --color-moderate-violet: hsl(263, 55%, 52%);
  --moderate-violet-hue: 263;
  --moderate-violet-saturation: 55%;
  --moderate-violet-lightness: 52%;

  --color-very-dark-grayish-blue: hsl(217, 19%, 35%);
  --dark-grayish-blue-hue: 217;
  --dark-grayish-blue-saturation: 19%;
  --dark-grayish-blue-lightness: 35%;

  --color-very-dark-blackish-blue: hsl(219, 29%, 14%);
  --dark-blackish-blue-hue: 219;
  --dark-blackish-blue-saturation: 29%;
  --dark-blackish-blue-lightness: 14%;

  --color-white: hsl(0, 0%, 100%);
  --white-hue: 0;
  --white-saturation: 0%;
  --white-lightness: 100%;

  /* ### Neutral */

  --color-light-gray: hsl(0, 0%, 81%);
  --light-gray-hue: 0;
  --light-gray-saturation: 0%;
  --light-gray-lightness: 81%;

  --color-light-grayish-blue: hsl(210, 46%, 95%);
  --light-grayish-blue-hue: 210;
  --light-grayish-blue-saturation: 46%;
  --light-grayish-blue-lightness: 95%;

  font-size: 13px;

  --fontSize: 13px;

  --fontSize-x9-small: calc(var(--fontSize) * 0.9);
  --fontSize-x8-small: calc(var(--fontSize) * 0.8);
  --fontSize-x7-small: calc(var(--fontSize) * 0.7);
  --fontSize-x6-small: calc(var(--fontSize) * 0.6);
  --fontSize-x5-small: calc(var(--fontSize) * 0.5);
  --fontSize-medium: var(--fontSize);
  --fontSize-x1-large: calc(var(--fontSize) * 1.1);
  --fontSize-x2-large: calc(var(--fontSize) * 1.2);
  --fontSize-x3-large: calc(var(--fontSize) * 1.3);
  --fontSize-x4-large: calc(var(--fontSize) * 1.4);
  --fontSize-x5-large: calc(var(--fontSize) * 1.5);
  --fontSize-x6-large: calc(var(--fontSize) * 1.6);
  --fontSize-x7-large: calc(var(--fontSize) * 1.7);
  --fontSize-x8-large: calc(var(--fontSize) * 1.8);
  --fontSize-x9-large: calc(var(--fontSize) * 1.9);
  --fontSize-x20-large: calc(var(--fontSize) * 2);

  --fontWeight-normal: 500;
  --fontWeight-bold: 600;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: var(--fontSize-medium);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* /////////////////////////////////////////////////////////////////////////// */
/* Grid/////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////// */

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--color-light-grayish-blue);
}

.container {
  width: 85%;
  height: 75%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem 1rem;
  grid-template-areas:
    "daniel-clifford daniel-clifford jonathan-walters kira-whittle"
    "jeanette-harmon patrick-abrams patrick-abrams kira-whittle";
}

.daniel-clifford { grid-area: daniel-clifford; }
.jonathan-walters { grid-area: jonathan-walters; }
.jeanette-harmon { grid-area: jeanette-harmon; }
.patrick-abrams { grid-area: patrick-abrams; }
.kira-whittle { grid-area: kira-whittle; }

.section {
  background-color: var(--color-white);
  /* color: var(--color-white); */
  padding: 1rem;
  border-radius: 5px;
  -webkit-box-shadow: 0px 50px 50px -20px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 50px 50px -20px rgba(0, 0, 0, 0.1);

  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "name-card name-card name-card"
    "quote quote quote"
    "information information information"; 
}

.name-card {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "img name"
      "img title"; 
    grid-area: name-card; 
  }
  .img { grid-area: img; }
  .name { grid-area: name; }
  .title { grid-area: title; }
  .quote { grid-area: quote; }
  .information { grid-area: information; }

/* .name-card {
  width: fit-content;

  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "img name"
    "img title"
    "quote quote"
    "information information";
}

.name {
  grid-area: name;
}

.title {
  grid-area: title;
}

.img {
  grid-area: img;
  border-radius: 50%;
  height: auto;
  width: auto;
  overflow: hidden;
  border: 2px solid white;
}
.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.daniel-clifford {
  grid-area: daniel-clifford;
  background-color: var(--color-moderate-violet);
}

.jonathan-walters {
  grid-area: jonathan-walters;
  background-color: var(--color-very-dark-grayish-blue);
}

.jeanette-harmon {
  grid-area: jeanette-harmon;
  background-color: var(--color-white);
  color: var(--color-very-dark-grayish-blue);
}

.patrick-abrams {
  grid-area: patrick-abrams;
  background-color: var(--color-very-dark-blackish-blue);
}

.kira-whittle {
  grid-area: kira-whittle;
  color: var(--color-very-dark-grayish-blue);
}


.quote {
  grid-area: quote;
}
.information {
  grid-area: information;
} */

/* /////////////////////////////////////////////////////////////////////////// */
/* Footer///////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////// */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
